[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/irrigger/gundo.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/irrigger/vim-surround.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/irrigger/vim-fugitive.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git://github.com/irrigger/vim-pathogen.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git://github.com/irrigger/vim-commentary.git
[submodule "bundle/eunuch"]
	path = bundle/eunuch
	url = git://github.com/irrigger/vim-eunuch.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/irrigger/vim-repeat.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/irrigger/tabular.git
[submodule "bundle/run_python"]
	path = bundle/run_python
	url = git://github.com/irrigger/run_python-vim.git
[submodule "bundle/ir_utils"]
	path = bundle/ir_utils
	url = git://github.com/irrigger/ir_utils-vim.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = git://github.com/irrigger/bufexplorer-vim.git
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = git://github.com/tpope/vim-abolish.git
